---
import BaseLayout from "../layouts/BaseLayout.astro";

const title = "About Nic Dillon - Software Developer & Technology Consultant";
const description = "Learn more about Nic Dillon, a software developer and technology consultant with expertise in web development, cloud solutions, and digital transformation.";
---

<BaseLayout title={title} description={description}>
  <div class="container max-w-prose mx-auto px-4">
    <header class="page-header">
      <h1 class="text-3xl font-semibold text-primary">About</h1>
    </header>

    <div class="prose prose-primary prose-lg">
      <p>
        Nic is a dynamic technology consultant and software engineer based in
        Statesville, NC, bringing innovation and efficiency to every project.
        With extensive expertise spanning the entire software development
        lifecycle, he specializes in both front-end and backend development,
        mastering technologies such as .NET, React, Blazor, Azure, AWS, SQL, and
        NoSQL databases. His deep experience with event-driven architectures and
        serverless solutions enables him to deliver scalable, cutting-edge
        applications tailored for the modern digital landscape.
      </p>

      <p>
        An avid creator at heart, Nic actively pursues projects from inception
        to execution, continually exploring emerging technologies to enhance
        productivity and effectiveness. When not immersed in code or
        collaborating with clients, he channels his passion into writing and
        photography, capturing moments and sharing insights through compelling
        storytelling.
      </p>

      <p>
        Away from the screen, Nic is a dedicated fitness enthusiast who combines
        over a decade of strength training with a newfound love for competitive
        running. Leveraging his background as a collegiate football athlete, he
        continuously pushes his athletic boundaries, always striving for
        personal bests on race day. Nic also has a keen eye for photography,
        loves spending time outdoors, enjoys gaming, and has an appreciation for
        automotive culture.
      </p>

      <p>
        Currently, Nic is focused on his personal project "Tempo," an innovative
        app designed to elevate users' productivity through focus
        timing and intuitive analytics. This commitment to pushing creative
        boundaries, both professionally and personally, defines Nic's
        forward-thinking approach to technology and life.
      </p>
    </div>
  </div>
</BaseLayout>
